:root{
  --fondo: #5f9ea0;
  --fondoFooter: #3c6566;
  --fuente:   font-family: 'Akshar', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  background-color: var(--fondo);
  font-family: var(--fuente);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
@media (max-width: 839px) {
  body{
    display: inline;
  }
  header{
    margin-bottom: 150px;
  }
}
header{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  height: 20vh;
  width: 100%;
  flex-wrap: wrap;
}

header ul{
  list-style: none;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  text-decoration: none;
}

header ul a{
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 50px;
}

header ul a:hover{
  font-size: large;
  font-weight: bold;
  transition: 500ms;
}
header img {
  width: 40%;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

#about{
  width: 400px;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  margin-top: 30px;
  border-radius: 30px;
}
#about:hover{
  border-radius: 50px;
  transition: 0.5s;
  margin-top: -10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skills {
  width: 400px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: #f0f8ff;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 30px;
}

#skills:hover {
  border-radius: 50px;
  transition: 0.5s;
  margin-top: -10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skills ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7%;
  background-color: var(--fondoFooter);
  height: 10vh;
}

img {
  width: 40px;
}

img:hover{
  transition: 0.5s;
  background-color: #f0f8ff;
  border-radius: 10px;
}