@import url("../../css/cv.css");

body{
  background-color: (--fondo);
}
@media (max-width: 839px) {
  body{
    display: inline;
  }
  header{
    margin-bottom: 0;
  }
}

header{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  height: 20%;
  width: 100%;
  flex-wrap: wrap;
}

header ul{
  list-style: none;
  display: flex;
  margin-top: 30px;
  gap: 20px;
  text-decoration: none;
}

header ul a{
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 50px;
}

header ul a:hover{
  font-weight: 800;
  transition: 500ms;
}

#information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#Proyectos {
  width: 400px;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
}

#Proyectos:hover {
  border-radius: 50px;
  transition: 0.5s;
  margin-top: -10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Proyectos p{
  margin-left: 20px;
}

#Proyectos a{
  margin-top: 5px;
  text-decoration: none;
  color: #000;
}

#Proyectos a:hover{
  font-weight: bold;

}

#formacion {
  width: 400px;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
}
#formacion:hover {
  border-radius: 50px;
  transition: 0.5s;
  margin-top: -10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#formacion article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formacion article p{
  margin-left: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7%;
  background-color: var(--fondoFooter);
  height: 10vh;
}

img {
  width: 40px;
}

img:hover{
  transition: 0.5s;
  background-color: #f0f8ff;
  border-radius: 10px;
}